body{
    font:15px/1.5  Arial Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
  }
  /*Global*/
  .container{
      width: 80%;
      margin: auto;
      overflow: hidden;
  }
  
  ul{
      margin:0;
      padding:0;
  }

  header{

	background: #FF8F00;
	color:#ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

  header a {
	color:white;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 16px;
}
 

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
  float:left;

}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px; 
}

header .highlights, header  .current  a{
color:#3F5866;
font-weight: bold;

}

header a:hover{
	color:grey;
	font-weight: bold;
}

.user_head h1{

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.row{
    display: flex;
    
}

.column{
    flex-direction: column;
    padding: 80px; 
}